.list-dashboard {
  padding: var(--spacing-md);
}

.list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: var(--spacing-lg);
  margin-top: var(--spacing-xl);
}

.list-card {
  background-color: var(--card-background);
  border-radius: var(--radius-md);
  box-shadow: 0 4px 12px var(--shadow);
  padding: var(--spacing-lg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.list-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(230, 81, 0, 0.4);
}

.list-card-title {
  font-size: 1.4em;
  font-weight: bold;
  color: var(--text-dark);
  margin-bottom: var(--spacing-sm);
  text-align: left;
  width: 100%;
}

.list-card-button {
  background-color: var(--primary);
  color: white;
  border: none;
  border-radius: var(--radius-xs);
  padding: var(--spacing-xs) var(--spacing-md);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-top: var(--spacing-md);
  align-self: flex-end;
}

.list-card-button:hover {
  background-color: var(--primary-dark);
}

.no-lists-message {
  text-align: center;
  margin-top: var(--spacing-xl);
  color: var(--text-medium);
  font-size: 1.1em;
}

.list-card.add-new-card {
  border: 1px dashed var(--border);
  background-color: var(--background-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.list-card.add-new-card:hover {
  background-color: var(--background);
  border-color: var(--primary);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}

.add-new-icon {
  font-size: 3em;
  color: var(--text-medium);
  line-height: 1;
  margin-bottom: var(--spacing-sm);
}

.add-new-card .list-card-title {
  color: var(--text-medium);
  text-align: center;
}
